@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400italic,700,700italic);
@font-face {
	font-family: 'Montserrat';
	src: url('https://fonts.googleapis.com/css?family=Montserrat:400,400italic,700,700italic');
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/opensans-regular-webfont.eot');
	src: url('./fonts/opensans-regular-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('./fonts/opensans-regular-webfont.woff') format('woff'),
		url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('./fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/opensans-extrabold-webfont.eot');
	src: url('./fonts/opensans-extrabold-webfont.eot?#iefix')
			format('embedded-opentype'),
		url('./fonts/opensans-extrabold-webfont.woff') format('woff'),
		url('./fonts/opensans-extrabold-webfont.ttf') format('truetype'),
		url('./fonts/opensans-extrabold-webfont.svg#OpenSansExtrabold')
			format('svg');
	font-weight: 800;
	font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}

body {
	background-color: #ece4d8;
	color: #544943;
	font-size: 1.5em;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}

@media screen and (max-width: 670px) {
  body {
    font-size: 0.7em;
  }
	p {
		font-size: 1.6em;
	}
}

header {
	background-color: #42001b;
	font-size: 2.5em;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	color: #ece4d8;
	text-align: center;
	line-height: 1;
	padding: 30px;
}

h2 {
	margin-top: 15px;
	font-size: 0.7em;
	font-weight: 800;
	font-style: normal;
}

.blue {
	color: #7eafd3;
}

.title {
	color: #42001b;
	font-size: 1.5em;
	font-weight: 700;
	font-style: normal;
}

a {
	color: #42001b;
}

a:hover {
	color: #ece4d8;
	background-color: #42001b;
}

.me {
	filter: grayscale(100%) sepia(64%) brightness(75%) contrast(99%);
	-webkit-filter: grayscale(100%) sepia(64%) brightness(75%) contrast(99%);
	-moz-filter: grayscale(100%) sepia(64%) brightness(75%) contrast(99%);

	animation: 
		spin 3.2s linear infinite;
	-webkit-animation:
		spin 3.2s linear infinite;
	-moz-animation:
		spin 3.2s linear infinite;
	-o-animation:
		spin 3.2s linear infinite;
	
	border-radius: 50%;
	background-size: cover;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotateY(360deg);
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotateY(360deg);
	}
}

@-o-keyframes spin {
	100% {
		-o-transform: rotateY(360deg);
	}
}